nav, footer{
    background-color: #3F729B;
}
li{
    font-size: 1.5em;
}
h1{
    font-weight: 100;
    font-size: 4vmax;
}
p{
    font-size: 3vmin;
}
div.jumbotron{
    margin-bottom: 0;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.learnMore{
    background-color: #1C2331;
}
.footerTop{
    position: relative;
    top: 5%;
}
.footerBottom{
    background-color: #1C2331;
}
span{
    color: #1C2331;
}
.carousel-control{
    opacity: 1;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}